<html>
<head>
<style>
h1 {text-align: center}
</style>
</head>
<body>
    <h3>Faculty information</h3>

<h4>A program is only as good as its teachers, and at NSM we have worked to find among the best in the business.</h4>
<marquee>
    <img src="./assets/IMAGES/pr1.jpg" width = 300 height = 200 alt="pr1" >
    <img src="./assets/IMAGES/pr2.jpg" width = 300 height = 200 alt="pr2">
    <img src="./assets/IMAGES/pr3.jpg" width = 300 height = 200 alt="pr3">
    <img src="./assets/IMAGES/pr4.jpg" width = 300 height = 200 alt="pr4">
</marquee>
<p style="background-color:#daa520;">They come from active involvements in genres that span Western classical, church music, rock, jazz, funk, mainstream pop and even film music. All of them are experienced performers and have individual strengths across the many facets of music education, performance, recording, production, management and touring. Along with their excellent individual skills on their chosen instrument, each of our faculty has a proven ability to communicate musical concepts simply and effectively, to students at various levels. Though many of them have (and continue to play) with some of India&#8217;s biggest bands and musical heavyweights, they share a strong commitment as pedagogues, to enrich your musical journey by pointing to successful shortcuts they have discovered, while turning you away from pitfalls and cul-de-sacs along the way. To learn more about each faculty member&#8217;s musical background, click through to their individual profiles.</p>
</body>
</html>