<html>
    <head>
<style>
    h1
    {
        text-decoration: underline;
    }
</style>
</head>
<body>
    <p>All of Music classes have been moved <strong>100% ONLINE</strong> using stable and private video conferencing tools. You can now learn from the comfort of your home and choose between our flagship Music Method and 1-on-1 (Customised) classes</p>
<p>Hope you and your family are staying strong during this hard time for the world at large</p>
<p>To learn more, please call <strong>7789798652</strong>, WhatsApp <strong>9999555887</strong>, send an email to <a href="mailto:music@school.com"><strong>music@school.com</strong></a> with your requirements</p>
<p>We are also available 7 days a week via <strong>Zoom</strong> (app for video conferencing). This can be used for auditions and course meetings with our team and director</p>
<p>If you are from India, you could also get all your instruments, production equipment and accessories shipped to your doorstep with our Amazon recommendations &#8211; <a href="http://school.com/gear/">http://school.com/gear/</a></p>
<p> is known as the best performance based Music School in India which teaches Keyboard / Piano, Guitar, Violin, Horns and Voice with a unique course, &#8220;Music Method&#8221; which gets you on stage in 4 to 6 months. Also learn Theory, Ear Training, Improvisation, Composition, Production and more..</p>
<p>At this school, we endeavour to bring out the musician in you! If music is your passion, we are here to develop it. And we firmly believe that everyone can learn music.</p>
</body> 
</html>