<p>Perhaps no other instrument in the last five decades has been able to capture the imagination of popular culture and music in the way the guitar has. It’s ability to encompass and animate almost every style of popular musical expression from the lilting romantic ballad, to the dark, angst-driven metal riff, makes the guitar a vital component in almost all forms of contemporary music.</p>
<p>Playing an open string with a long bow</p>

<p>Playing a rhythm</p>

<p>Placing fingers on the strings</p>
<marquee><img src="./assets/IMAGES/violin.jpg" alt="violin"></marquee>
<p>Learning basic finger positioning on strings</p>

<p>Learning and relaxing into the posture</p>

<p>Playing simple melody</p>

<p>New and more complex finger positionings</p>

<p>Pizzicato, Bowing Techniques and Dynamics (staccato, legato, dynamics)</p>

<p>Slurs with scales, arpeggios and melodies</p>

<p>Introducing 4th finger</p>

<p>Introducing minor scales and arpeggios</p>

<p>Harmonic & melodic finger positioning</p>
<h5>To learn <strong>VIOLIN</strong></h5>
<a href = "https://nathanielschool.com/courses/violin/" target="_blank">Click here</a>